<section class="block-images-with-text-section">
	<div class="container-fluid h-100">
		<div class="row d-md-none">
			<div class="col-12 px-0 mb-5">
				<img
					src="{{ section.settings.image_4 | img_url: '1432x760' }}"
					width="100%"
					height="auto"
					alt=""
				/>
			</div>
		</div>
		<div class="row images d-none d-md-flex">
			<div class="col-12 col-md-3 px-0">
				<img
					src="{{ section.settings.image_1 | img_url: 'large' }}"
                    class="first "
					width="70%"
					height="auto"
					alt=""
				/>
			</div>
			<div class="col-12 col-md-6 text-center">
				<img
					src="{{ section.settings.image_2 | img_url: '1432x760' }}"
					width="100%"
                    class="second "
					height="auto"
					alt=""
				/>
			</div>
			<div class="col-12 col-md-3 text-end px-0">
				<img
					src="{{ section.settings.image_3 | img_url: 'large' }}"
					width="70%"
					height="auto"
					alt=""
				/>
			</div>
		</div>
		<div class="row justify-content-center align-items-center">
			<div class="col-md-8 col-lg-8 col-xxl-6">
				<h2>
					{{section.settings.title}}
				</h2>
			</div>
		</div>
	</div>
</section>


{% schema %}
{
    "name": "Block images with text",
    "settings": [
		{
			"type": "html",
			"id": "title",
			"label": "Text"
		},
		{
			"type": "image_picker",
			"id": "image_1",
			"label": "Image left"
		},
		{
			"type": "image_picker",
			"id": "image_2",
			"label": "Image center"
		},
		{
			"type": "image_picker",
			"id": "image_3",
			"label": "Image Rigth"
		},
		{
			"type": "image_picker",
			"id": "image_4",
			"label": "Image Mobile"
		}
	],
    "presets": [
        {
            "category": "Block",
            "name":"Block images with text"
        }
    ]
}
{% endschema %}