<section class="block-collection-section with-margin">
	<div class="container position-relative">
		<div class="row justify-content-between">
			<div class="col-md-6 col-lg-5 col-xl-5 col-xxl-4">
				<div class="pulse my-5 d-md-none">
					<img src="{{ 'reel.png' | asset_url }}" width="110px" height="auto" alt="Reel" class="reel">
				</div>
				<h2>{{section.settings.title}}</h2>
				<div class="d-flex align-items-center">
					<div class="pulse d-none d-md-block">
						<img src="{{ 'reel.png' | asset_url }}" width="80px" height="auto" alt="Reel" class="reel">
					</div>
					<p>
						{{section.settings.subtext}}
					</p>
				</div>
			</div>
			<div class="col-md-6 d-flex justify-content-center mt-3 mt-lg-5">
				<ul>
					{% for block in section.blocks %}
					{%- assign collection = collections[block.settings.collection_name] -%}
					<a href="/collections/{{collection.handle}}">
						<li>
							<span>0{{forloop.index}}</span>
							{{collection.title}} {% include 'icon-arrow-top-black.liquid' %}
						</li>
					</a>
					{% endfor %}
                </ul>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
    "name": "Block Collection",
    "settings": [
		{
			"type": "html",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "textarea",
			"id": "subtext",
			"label": "label"
		}
	],
	"blocks":[
		{
			"name": "Collections",
			"type": "collection",
			"settings": [
				{
					"type": "collection",
					"id": "collection_name",
					"label": "Select Collection"
				}
			]
		}
	],
    "presets": [
        {
            "category": "Block",
            "name":"Block Collection"
        }
    ]
}
{% endschema %}