{% paginate collections[collection.handle].products by 8 %}
<section class="section-collection mt-5 pt-5">
	<div class="container h-100">
		<div class="row h-100">
			<div
				class="col-12 h-100 d-flex justify-content-center align-items-center flex-column"
			>
				<h1>{{ collection.handle }}</h1>
				<p class="breadcums">
					<span>{% include 'icon-home.liquid' %} Home</span> {% include
					'icon-chevron-right.liquid' %} <span>Collections</span> {% include
					'icon-chevron-right.liquid' %}
					<span class="handle">{{ collection.handle }}</span>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="section-collection-list">
	<div class="container">
		<div id="Huratips-Loop" class="row">
			{% for product in collections[collection.handle].products %}
			<div class="col-12 col-md-3 mb-4">
				<a href="{{ product.url }}">
					<div class="image-box">
						<img
							class="lazyload"
							data-src="{{ product.featured_image.src | img_url: '300x400' }}"
							alt="{{ product.title }}"
						/>
						<div class="price-content">
							<span class="price">
								{% include 'icon-cart.liquid' %}
								{{ product.price | money }}</span
							>
							<span class="fav">{% include 'icon-fav.liquid' %} </span>
						</div>
						<div class="title">
							{{ product.title }}
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
	<div id="Huratips-Pagination">
		{% if paginate.next %}
			<a href="{{ paginate.next.url }}"></a>
		{% endif %}  
	</div>
</section>
{% endpaginate %}