<section class="hop-consulting-section">
	<div class="container position-relative pt-md-5">
		<div class="row">
			<div class="col-12 col-md-12 col-lg-6 d-none d-md-block">
				<img
					src="{{ 'chat-1.png' | asset_url }}"
					class="ms-4 mb-5"
					width="504px"
					height="auto"
					alt=""
				/>
				<img
					src="{{ 'chat-2.png' | asset_url }}"
					class="mb-5"
					width="327px"
					height="auto"
					alt=""
				/>
				<img
					src="{{ 'chat-3.png' | asset_url }}"
					class="ms-5 mb-5"
					width="431px"
					height="auto"
					alt=""
				/>
			</div>
			<div class="col-12 col-md-12 col-lg-6">
				<div class="image-consulting style-bg">
					<img src="{{ 'img-consulting.png' | asset_url }}" alt="" />
					<h2>
						schedule <span>image</span> <strong>consulting</strong>
                        <br>
						<a href="{{section.settings.url}}" class="btn btn-primary"
							>{{section.settings.link_text}} {% include 'icon-arrow-top.liquid' %}</a
						>
					</h2>
				</div>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
    "name": "Block Hop consulting",
    "settings": [
		{
			"type": "text",
			"id": "link_text",
			"label": "Text Link",
			"default": "Order call"
		},
		{
			"type": "url",
			"id": "url",
			"label": "URL"
		}
	],
    "presets": [
        {
            "category": "Block",
            "name":"Block Hop consulting"
        }
    ]
}
{% endschema %}