<section class="products-slide-section">
	<div class="container h-100">
		<div class="row h-100 align-items-center arrows">
			<div class="col-12 d-md-flex justify-content-between align-items-center text-center text-md-start ps-md-5">
				<h2>{{ section.settings.heading_title }}</h2>
				<ul class="mt-3 m-md-0 p-0 d-flex justify-content-center">
					<li class="prev">{% include 'icon-arrow-left.liquid' %} </li>
					<li class="next">{% include 'icon-arrow-right.liquid' %}</li>
				</ul>
			</div>
			<div class="col-12 mt-3 mt-md-5 px-5">
				<div class="slider-products-home">
					{% if section.settings.collection %}
						{% for product in collections[section.settings.collection].products %}
							<div>
								<a href="{{product.url}}">
									<div class="image-box">
										<img class="lazyload" data-src="{{product.featured_image.src | img_url: '300x'}}" alt="{{product.title}}" />
										<div class="price-content">
											<span class="price"> {% include 'icon-cart.liquid' %} {{product.price | money}}</span>
											<span class="fav">{% render 'ZooomyListWishlistColl', product: product %}</span>
										</div>
									</div>
								</a>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>


{% schema %}
{ 
    "name": "Products Slide Home",
    "settings": [
		{
			"type": "text",
			"id": "heading_title",
			"label": "Heading text",
			"default": "New In Stock"
		},
		{
			"type": "collection",
			"id": "collection",
			"label": "Select Collection"
		}
	],
    "presets": [
        {
            "category": "Block",
            "name":"Products Slide Home"
        }
    ]
}
    
{% endschema %}