{% paginate search.results by 10 %}

<section class="page-search">
  <div class="page-width mt-5 pt-5">
    {% if search.performed == false %}
      <div class="text-center mt-5 pt-5">
        <h1 class="h2">{{ 'general.search.title' | t }}</h1>
    {% else %}
      <div class="text-center my-5 pt-3">
        <h1 class="h2">
          <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
          {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
        </h1>
    {% endif %}
        <div class="grid">
          <div class="grid__item medium-up--six-tenths medium-up--push-two-tenths">
            {% if search.performed and search.results_count == 0 %}
              <div class="rte search--no-results-found">
                <p>{{ 'general.search.no_results' | t }}</p>
              </div>
            {% endif %}
  
          </div>
        </div>
    </div>
  </div>
  
  
  {% if search.performed %}
    {% if search.results_count > 0 %}
      <hr aria-hidden="true" />
    {% endif %}
  
    <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>
  
    <section class="section-collection-list">
      <div class="container">
        <div class="row">
          {% for product in search.results %}
          <div class="col-12 col-md-3 mb-4">
            <a href="{{ product.url }}">
              <div class="image-box">
                <img
                  class="lazyload"
                  data-src="{{ product.featured_image.src | img_url: '300x400' }}"
                  alt="{{ product.title }}"
                />
                <div class="price-content">
                  <span class="price">
                    {% include 'icon-cart.liquid' %}
                    {{ product.price | money }}</span
                  >
                  <span class="fav">{% include 'icon-fav.liquid' %} </span>
                </div>
                <div class="title">
                  {{ product.title }}
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    
  
    {%- if paginate.pages > 1 -%}
      {% include 'pagination', paginate: paginate %}
    {%- endif -%}
  {% endif %}
  
  {% if search.results_count < 2  %}
    <div class="search--less-than-2-results"></div>
  {% endif %}
</section>

{% endpaginate %}
